:root {
    --background-color: rgb(50, 54, 66);
    --dialog-background-color: rgb(35, 39, 51);

    --text-color: rgb(233, 233, 233);

    --dark: rgb(21, 23, 28);
    --dark-hover: gray;

    --primary: rgb(111, 0, 185);
    --primary-hover: rgb(191, 119, 238);
}

body {
    background-color: var(--background-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -BUTTON-&-INPUT------------- */

.custom-button, input {
    background-color: var(--dark);
    color: var(--text-color);

    border: none;
    border-radius: 5px;

    padding: 10px;
}

/* -BUTTON--------------------- */

.custom-button {
    font-weight: 500;
}


.custom-button:hover {
    background-color: var(--dark-hover);
}

.custom-button:active, .custom-button:focus, .custom-button:active:focus {
    background-color: var(--dark);
}

.custom-button:hover, .custom-button:active, .custom-button:focus, .custom-button:active:focus {
    border-color: none;
    box-shadow: none;
}

.custom-button.primary {
    background-color: var(--primary);
}

.custom-button.primary:hover {
    background-color: var(--primary-hover);
}

.custom-button.primary:active, .custom-button.primary:focus, .custom-button.primary:active:focus {
    background-color: var(--primary);
}

.custom-button.primary:hover, .custom-button.primary:active, .custom-button.primary:focus, .custom-button.primary:active:focus {
    border-color: none;
    box-shadow: none;
}

.custom-button-no-hover:hover {
    background-color: var(--dark);
}

.icon-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* -INPUT---------------------- */

input {
    border: solid 1px var(--dark);
}

input:focus-visible {
    outline: none;
    border-color: var(--primary);
}

/* -MUI INPUT------------------ */

.MuiTextField-root {
    background-color: var(--dark);
    border-radius: 0.3rem;
}

.MuiTextField-root input, .MuiTextField-root textarea, .MuiTextField-root > label, .MuiTextField-root > div, .MuiInputAdornment-root > p {
    color: var(--text-color);
}

.MuiTextField-root svg.MuiSvgIcon-root {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

div.Mui-focused > fieldset {
    border-color: var(--primary) !important;
}

label.Mui-focused {
    color: var(--primary) !important;
}

.number-input input {
    text-align: right;
}

/* -MENUBAR-------------------- */

.navbar-toggler {
        border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    filter: brightness(0.5);
}

/* -TABLE---------------------- */

.custom-table, .overlay, .dark-bg {
    background-color: rgb(var(--bs-dark-rgb));
    box-shadow: 5px 5px 15px 5px rgb(var(--bs-dark-rgb));
}

.custom-table > thead {
    top: 56px;
    background-color: var(--dark);
}

.custom-table td, .custom-table th {
    color: var(--text-color);
}

.custom-table td:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
    min-width: 250px;
}

.custom-table th:last-child {
    width: 1px;
    text-align: right;
}

.custom-table td:last-child {
    display: flex;
}

/* -DIALOG--------------------- */

.modal-content {
    background-color: var(--dialog-background-color);
    color: white;
}

.modal-footer, .modal-header {
    border: none;
}

.modal-body > input {
    width: 100%;
}

.modal-header .btn-close {
    filter: invert(1);
}

/* ---------------------------- */

.content {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

    width: 90vw;

    color: var(--text-color);
}

.overlay {
    border-radius: 0.3rem;
    padding: 10px;
    margin-bottom: 20px;
}

.space-between, .right, .center {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.right {
    justify-content: right;
}

.center {
    justify-content: center;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.bold {
    font-weight: bold;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33%;
}

.dialog-row {
    display: flex;
    justify-content: space-between;

    margin: 10px;
}

.dialog-row > * {
    padding: 0;
}