.week {
    display: flex;
}

.week > * {
    margin-right: 10px;
}

.dish-list-wrapper {
                  /* menubar          footer headline etc. */
    height: calc(95vh - 80px - 34px - 20px - 40px);
    overflow: auto;
}

@media only screen and (max-width: 992px) {
    .dish-list-wrapper {
                      /* menubar          footer headline etc. */
                      /*                         (buttons in next line) */
        height: calc(95vh - 80px - 34px - 20px - 80px);
    }
}

@media only screen and (max-width: 767px) {
    .dish-list-wrapper {
                      /* menubar          footer headline etc. */
                      /*                         (buttons in next line) */
        height: calc(95vh - 80px - 34px - 40px - 80px);
    }
}

.dish-list-dish .display, .dish-list-dish .buttons {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.dish-list-dish .buttons {
    justify-content: right;
}

.dish-list-dish .buttons > button {
    width: 40px;
    background: none;
    padding-left: 0;
    padding-right: 0;
}
