.week {
    display: flex;
}

.week > * {
    margin-right: 10px;
}


.dish-list-dish .display, .dish-list-dish .buttons {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.dish-list-dish .buttons {
    justify-content: right;
}

.dish-list-dish .buttons > button {
    width: 40px;
    background: none;
    padding-left: 0;
    padding-right: 0;
}